{% from "macros/fields.html" import render_text_field, render_area_field %}
{% extends "layout.html" %}

{% block head_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock %}

{% block main_content %}
    <form name="add-material" method="POST" novalidate class="form">
        <div class="form__container">
            {{ form.hidden_tag() }}
            {{ render_text_field(form.title) }}
            {{ render_area_field(form.description) }}
            {{ render_text_field(form.url) }}

            {{ render_area_field(form.tags) }}
            <div>
                {{ form.submit(class="button button--form") }}
            </div>
        </div>
    </form>
{% endblock %}
